@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: black;
}
h1{
  color: white;
  text-align: center;
  padding-top: 30px;
}
#colorSelector {
  border-radius: 10%;
  padding-top: 100px;
  background-color: white;
  margin: 2vw 10vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 0.4fr;
  grid-template-areas:
    "harmonies harmonies picker . ."
    "boxesAll boxesAll boxesAll boxesAll boxesAll"
    ". . info . .";
}

.colorboxes{
  grid-area: boxesAll;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px,1fr));;
}
.harmonies {
  grid-area: harmonies;
  margin: auto 0;

}
.input {
  grid-area: picker;
  margin: 0 auto;
  justify-self: center;
}
#colorSelector > div.input > p{
  display: inline-block;
}
input{
  display: inline-block;
}

#infoBox {
  margin: auto 0;
  grid-area: info;
  text-align: center;
}
.box {
  background-color: white;
  padding-top: 100%;
}
#colorBoxMain {
  background-color: #ff0000;
}
