@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: black;
}

#colorSelector {
  background-color: white;
  margin: 0 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "harmonies harmonies picker . ."
    "box1 box2 boxMain box3 box4"
    ". . info . .";
}

.harmonies {
  grid-area: harmonies;
}
.input {
  grid-area: picker;
}

#colorBox1 {
  grid-area: box1;
}
#colorBox2 {
  grid-area: box2;
}
#colorBoxMain {
  grid-area: boxMain;
}
#colorBox3 {
  grid-area: box3;
}
#colorBox4 {
  grid-area: box4;
}

#infoBox {
  grid-area: info;
}
.box {
  max-width: 150px;
  height: 150px;
  background-color: white;
}
#colorBoxMain {
  background-color: #ff0000;
}
